body {
    margin: 0;
    padding: 0;
    display: inline;
}

#topofpage {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(239, 239, 176);
    height: 300px;
    padding: 0;
    border-radius: 10px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

#menuundertop {
    text-align:center;
}

#pagelist {
    list-style: none;
}

li {
    display: inline;
    padding-right: 50px;
}